html, body {
  width: 100%;
  display: block;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

html {
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $default-body-text-color;
  line-height: line-height($browser-context, $browser-line-height);

  font-size: .879vw; // DEFAULT 1440px 1rem = 16px

  @include breakpoint($des-large) {
      font-size: 16px;
  }

  @include breakpoint($des-medium) {
      font-size: 16px;
  }

  @include breakpoint($des-small) {
      font-size: 14px;
  }

  @include breakpoint($mob) {
    font-size: 14px;
  }

  @include breakpoint($mob-small) {
    font-size: 14px;
  }

  @include breakpoint($mob-xsmall) {
       font-size: 13px;
  }

  &.lock{
    position: relative;
    height: 100%;
    overflow: hidden;

    .header{
      transform: none !important;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  min-height: 5%;

  &.b-loaded{
    min-height: auto;
  }
}

.mobile-v {
  display: none;
  @include breakpoint($mob-small) {
    display: block;
  }
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.b-lazy {
  opacity:0;
  transition: all 500ms;
}
.b-loaded {
  opacity:1;
}