a {
  text-decoration: none;
  color: inherit;
  display: inline-block;

  &:hover {
    color: currentColor;
  }
}

.base-size {
  font-size: 1rem;
}

p {
  font-size: rem(16);
  line-height: 1.5;
}


h1, .h1 {
  font-family: $font-main;
  font-size: rem(45);
  line-height: 1.11;
  letter-spacing: rem(-2);
  color: $heading-color;
  margin-bottom: rem(40);
}

h2, .h2 {
  font-family: $font-main;
  font-size: rem(36);
  line-height: 1.11;
  color: $heading-color;
  margin-bottom: rem(25);
}

h3, .h3 {
  font-family: $font-main;
  font-size: rem(28);
  line-height: 1.39;
  color: $heading-color;
}

h4, .h4 {
  font-family: $font-main;
  font-size: rem(24);
  line-height: 1.63;
  color: $heading-color;
}

h5, .h5 {
  font-family: $font-main;
  font-size: rem(20);
  line-height: 1.63;
  color: $heading-color;
}

h6, .h6 {
  font-size: rem(16);
}

.small {
  font-size: rem(14);
}

.tiny {

}

.display {
  color: $heading-color;

  &-1 {
    font-family: $font-main;
    font-size: rem(60);
    line-height: 1.17;
    letter-spacing: rem(-2.5);
    margin-bottom: rem(25);
  }

  &-2 {

  }

  &-3 {

  }

  &-4 {

  }
}

.bold-font {
  font-family: $font-main;
}

.headline-bold-font {

}

.headline-ultra-bold-font {

}

.text-uppercase {
  text-transform: uppercase;
}