a {
  text-decoration: none;
  color: inherit;
  display: inline-block;

  &:hover {
    color: currentColor;
  }
}

.base-size {
  font-size: 1rem;
}

p {
  font-size: rem(16);
  line-height: 1.75;
}


h1, .h1 {
  font-size: rem(60);
  font-weight: 900;
  line-height: 1.08;
  letter-spacing: -0.86px;
  color: $body-color;
  @include breakpoint($des-small) {
    font-size: rem(50);
  }
}

h2, .h2 {
  font-size: rem(58);
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -1px;
  @include breakpoint($des-small) {
    font-size: rem(48);
  }
}


.text-uppercase {
  text-transform: uppercase;
}

.section-title{
  &--center{
    text-align: center;
  }
  &--light{
    h2{
      font-size: rem(60);
      font-weight: 600;
      color: #3f3b3b;
      @include breakpoint($des-small) {
        font-size: rem(50);
      }
    }
  }
  p{
    color: $body-color-light;
    font-size: rem(18);
    line-height: 1.78;
    max-width: rem(745);
    margin: rem(24) auto 0;
  }
}