$black: #000000;
$white: #FFFFFF;

//#######################################
//## PROJECT COLORS #####################
//#######################################
$body-color: #373D44;
$heading-color: #626773;
$main-color: #D91A21;
$sub-color: #006CB1;
$accent-color: #ffa44f;

//#######################################
//## OVERRIDES ##########################
//#######################################
$default-body-text-color: $body-color;
$default-body-link-color: $black;

$default-selection-text-color: $white;
$default-selection-bg-color: $black;