$black: #000000;
$white: #FFFFFF;

//#######################################
//## PROJECT COLORS #####################
//#######################################
$body-color: #1d293f;
$body-color-light: #7c8087;
$main-color: #14b4f1;
$main-color-dark: #0da4de;

//#######################################
//## OVERRIDES ##########################
//#######################################
$default-body-text-color: $body-color;
$default-body-link-color: $black;

$default-selection-text-color: $white;
$default-selection-bg-color: $black;