.btn {
  background-color: transparent;
  padding: rem(15);
  box-shadow: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: rem(5);
  font-weight: 700;
  background-color: $main-color;
  color: #fff;
  transition: $t-hover;
  text-align: center;
  line-height: rem(18);

  &:hover{
    color: #fff;
    background-color: $main-color-dark;
  }
}