.our-customers{
  padding-top: rem(58);
  padding-bottom: rem(165);
  background-color: #f7f8fa;
  position: relative;
  .section-title{
    max-width: rem(763);
    margin: 0 auto rem(60);
    h2{
        font-size: rem(48);
        line-height: 1.17;
        letter-spacing: -0.83px;
        font-weight: 700;
    }
  }
  &__inner{
    margin: 0 rem(55);
    overflow: hidden;
  }
  &__item{
    height: auto;
  }
  &__item-inner{
    background-color: #fff;
    border-radius: rem(10);
    padding: rem(28) rem(25) rem(36) rem(25);
    border: solid 1px #e2e4e8;
    height: 100%;
    display: flex;
    flex-direction: column;
    p {
      font-family: $roboto;
      margin-bottom: rem(22);
      flex: 1;
    }
  }

  &__image{
    width: rem(48);
    margin-bottom: rem(25);
    .media-wrapper{
      padding-bottom: 100%;
    }
  }

  &__nick{
    font-size: rem(18);
    font-family: $roboto;
  }
}

.carousel-pagination {
  position: absolute;
  bottom: rem(100);
  left: rem(55);
  z-index: 1;
  display: flex;

  .swiper-pagination-bullet {
    width: rem(29);
    height: rem(4);
    display: block;
    margin: 0 rem(13) 0 0;
    transition: all 0.5s ease;
    cursor: pointer;
    opacity: 1;
    position: relative;
    background-color:  #e2e4e8;
    border-radius: rem(10);
    &:hover {
        background-color: #258aff;
    }


    &.swiper-pagination-bullet-active {
      opacity: 1;
      background-color: #258aff;
    }
  }

}