.recommendations{
  margin-bottom: rem(70);
  &__inner{
    display: flex;
    justify-content: space-between;
    @include breakpoint($mob) {
      display: block;
    }
  }
  &__logos{
    p{
      color: $body-color-light;
      margin-bottom: rem(10);
      padding-top: rem(30);
      @include breakpoint($mob) {
        margin-bottom: rem(25);
      }
    }
  }
  &__logos-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include breakpoint($mob) {
      margin-bottom: rem(30);
      flex-direction: column;
    }
    img {
      margin-right: rem(24);
      margin-bottom: rem(10);
      @include breakpoint($mob) {
        margin-bottom: rem(20);
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  &__trust-rating-count{
    display: block;
    margin: rem(4) 0;
    padding-left: rem(8);
  }
  &__stars{
    margin: rem(12) 0 rem(16) rem(6);
  }
  &__trust-pilot{
    display: flex;
    align-items: center;
    margin-right: 8.5%;
    @include breakpoint($des-small) {
      margin-right: 0;
    }
    @include breakpoint($mob) {
      justify-content: center;
    }
  }
  &__trust-pilot-rate{
    letter-spacing: -1px;
    font-size: rem(70);
    margin-right: rem(8);
  }
}